<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Backend unit tests">
    <test name="OrchestraRegistrationHandlerBeanTest">
        <classes>
            <class name="org.riviti.EnterpriseTest.Backend.OrchestraRegistrationHandlerBeanTest"/>
        </classes>
    </test>
</suite>